file_to_vectort:
  # excute_path: doc_reader-semantic_split-add_text_vector
  - agent_name: doc_reader
    run_order: 1
    result_name: text
  - agent_name: semantic_split
    run_order: 2
    result_name: text
  - agent_name: add_text_vector
    run_order: 3
    result_name: text
    param:
      collection_name: app_test